<div class="container" style="margin-top: 150px;">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="/assets/images/user.png" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                {{data.name}}
                <p class="text-muted font-size-sm">{{data.city}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <!-- <h6 class="mb-0"> -->
                  Full Name
                <!-- </h6> -->
              </div>
              <div class="col-sm-9 text-secondary">
                {{data.name}}
              </div>
            </div>
            <hr style="height: 2px; background-color: black;">

            <div class="row">
              <div class="col-sm-3">
                <!-- <h6 class="mb-0"> -->
                  Email
                <!-- </h6> -->
              </div>
              <div class="col-sm-9 text-secondary">
                {{data.email}}
              </div>
            </div>
            <hr style="height: 2px; background-color: black;">

            <div class="row">
              <div class="col-sm-3">
                <!-- <h6 class="mb-0"> -->
                  Phone
                <!-- </h6> -->
              </div>
              <div class="col-sm-9 text-secondary">
                {{data.contact}}
              </div>
            </div>
            <hr style="height: 2px; background-color: black;">

            <div class="row">
              <div class="col-sm-3">
                <!-- <h6 class="mb-0"> -->
                  Gender
                <!-- </h6> -->
              </div>
              <div class="col-sm-9 text-secondary">
                {{data.gender}}
              </div>
            </div>
            <hr style="height: 2px; background-color: black;">

            <div class="row">
              <div class="col-sm-3">
                <!-- <h6 class="mb-0"> -->
                  Location
                <!-- </h6> -->
              </div>
              <div class="col-sm-9 text-secondary">
                {{data.location}}
              </div>
            </div>
            <hr style="height: 2px; background-color: black;">


            <div class="row">
              <div class="col-sm-3">
                <!-- <h6 class="mb-0"> -->
                  DOB
                <!-- </h6> -->
              </div>
              <div class="col-sm-9 text-secondary">
                {{data.date_of_birth  | date: "mediumDate"}}
              </div>
            </div>
            <hr style="height: 2px; background-color: black;">

            <div class="row">
              <div class="col-sm-3">
                <!-- <h6 class="mb-0"> -->
                  Pincode
                <!-- </h6> -->
              </div>
              <div class="col-sm-9 text-secondary">
                {{data.pincode}}

              </div>
            </div>
            <hr style="height: 2px; background-color: black;">

            <div class="row">
              <div class="col-sm-3">
                <!-- <h6 class="mb-0"> -->
                  City
                <!-- </h6> -->
              </div>
              <div class="col-sm-9 text-secondary">
                {{data.city}}

              </div>
            </div>
            <hr style="height: 2px; background-color: black;">
            <div class="row">
              <div class="col-sm-3">
                  State
              </div>
              <div class="col-sm-9 text-secondary">
                {{data.state}}

              </div>
            </div>
            <div class="row mt-4">
              <div class="col-sm-12">
                <a class="btn btn-info " [routerLink]="['/editprofile']">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
