<div id="page" class="site page-wrapper">
  <a class="skip-link screen-reader-text" href="#primary">Skip to content</a>

  <div data-elementor-type="wp-page" data-elementor-id="33" class="elementor elementor-33">
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-a4bebf4 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="a4bebf4" data-element_type="section">
      <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9b31a34"
          data-id="9b31a34" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-2d41f62 elementor-widget elementor-widget-wostin-testimonials"
              data-id="2d41f62" data-element_type="widget" data-widget_type="wostin-testimonials.default">
              <div class="elementor-widget-container">

                <section class="testimonials-page">
                  <div class="container">
                    <div class="row">
                      <div class="col-xl-4 col-lg-6 col-md-12">
                        <div class="testimonial-two__single">
                          <div class="testimonial-two__feedback-box">
                            <p class="testimonial-two__title" style="font-size: 29px;">Total User</p>
                          </div>
                          <p class="testimonial-two__text" style="height: 40px; font-size: 40px;">{{totalUser}}
                          </p>

                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-12">
                        <div class="testimonial-two__single">
                          <div class="testimonial-two__feedback-box">
                            <p class="testimonial-two__title" style="font-size: 29px;">Total Company</p>
                          </div>
                          <p class="testimonial-two__text" style="height: 40px; font-size: 40px;">{{totalCompany}}
                          </p>

                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-12">
                        <div class="testimonial-two__single">
                          <div class="testimonial-two__feedback-box">
                            <p class="testimonial-two__title" style="font-size: 29px;">Total Collector</p>
                          </div>
                          <p class="testimonial-two__text" style="height: 40px; font-size: 40px;">{{totalCollector}}
                          </p>

                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-12">
                        <div class="testimonial-two__single">
                          <div class="testimonial-two__feedback-box">
                            <p class="testimonial-two__title" style="font-size: 29px;">Total Appointment</p>
                          </div>
                          <p class="testimonial-two__text" style="height: 40px; font-size: 40px;">{{totalAppointment}}
                          </p>

                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-12">
                        <div class="testimonial-two__single">
                          <div class="testimonial-two__feedback-box">
                            <p class="testimonial-two__title" style="font-size: 29px;">Total State</p>
                          </div>
                          <p class="testimonial-two__text" style="height: 40px; font-size: 40px;">{{totalState}}
                          </p>

                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-12">
                        <div class="testimonial-two__single">
                          <div class="testimonial-two__feedback-box">
                            <p class="testimonial-two__title" style="font-size: 29px;">Total City</p>
                          </div>
                          <p class="testimonial-two__text" style="height: 40px; font-size: 40px;">{{totalCity}}
                          </p>

                        </div>
                      </div>
                    </div>
                  </div>
                </section>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
