<div data-elementor-type="wp-post" data-elementor-id="398" class="elementor elementor-398">
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-299ff61 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
    data-id="299ff61" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0cb0e7d"
        data-id="0cb0e7d" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-b2ca3f2 elementor-widget elementor-widget-wostin-header"
            data-id="b2ca3f2" data-element_type="widget" data-widget_type="wostin-header.default">
            <div class="elementor-widget-container">

              <header class="main-header clearfix">
                <div class="main-header__inner clearfix">
                  <div class="main-header__logo">
                    <a href="admin/dashboard" routerLinkActive="router-link-active"><img loading="lazy" width="183"
                        height="41" src="assets/images/logo2.png" id="thm-logo"></a>
                  </div>
                  <div class="main-menu__menu-box">

                    <div class="main-menu__menu-bottom">
                      <nav class="main-menu clearfix">
                        <div class="main-menu__main-menu-box">
                          <a href="#" class="mobile-nav__toggler">
                            <fa-icon [icon]="faBars"></fa-icon>
                          </a>
                          <div class="menu-main-menu-container">
                            <ul id="menu-main-menu" class="main-menu__list  ">

                              <li id="menu-item-131"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-131">
                                <a href="admin/city">City</a>
                              </li>

                              <li id="menu-item-131"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-131">
                                <a href="admin/state">State</a>
                              </li>

                              <li id="menu-item-131"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-131">
                                <a href="admin/slot">Slot</a>
                              </li>

                              <li id="menu-item-113"
                                class="menu-item menu-item-type-post_type menu-item-object-page megamenu megamenu-style-alt menu-item-has-children menu-item-113">
                                <a href="admin/userappointment">User Appointments</a>
                              </li>

                              <li id="menu-item-113"
                                class="menu-item menu-item-type-post_type menu-item-object-page megamenu megamenu-style-alt menu-item-has-children menu-item-113">
                                <a href="admin/companyappointment">Company Appointments</a>
                              </li>

                              <li id="menu-item-121"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-121">
                                <a href="admin/user">Users</a>
                              </li>


                              <li id="menu-item-121"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-114">
                                <a href="admin/collector">Collector</a>
                              </li>

                              <li id="menu-item-121"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-114">
                                <a href="admin/company">Company</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </nav>
                    </div>
                  </div>
                  <div class="main-header__right">
                    <div class="main-header__right__call-icon icon-svg">
                      <span aria-hidden="true">
                        <fa-icon [icon]="faLock"></fa-icon>
                      </span>
                    </div>
                    <div class="main-header__right-call-number">


                      <h5>
                        <a *ngIf="isAdminLogIn" (click)="logout()" href="" routerLinkActive="router-link-active">
                          Logout</a>
                      </h5>

                    </div>
                  </div>
                </div>
              </header>

              <div class="stricky-header stricked-menu main-menu">
                <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
              </div><!-- /.stricky-header -->

              <div class="mobile-nav__wrapper">
                <div class="mobile-nav__overlay mobile-nav__toggler"></div>
                <!-- /.mobile-nav__overlay -->
                <div class="mobile-nav__content">
                  <span class="mobile-nav__close mobile-nav__toggler"></span>

                  <div class="logo-box">
                    <a href="https://layerdrops.com/wostinwp/">
                      <img loading="lazy" width="183" height="41" src="assets/images/logo2.png" id="mobile-thm-logo"
                        alt="Wostin">
                    </a>
                  </div>
                  <div class="menu-main-menu-container">
                    <ul id="menu-main-menu" class="main-menu__list  ">

                      <li id="menu-item-131"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-131">
                        <a href="admin/city">City</a>
                      </li>

                      <li id="menu-item-131"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-131">
                        <a href="admin/state">State</a>
                      </li>

                      <li id="menu-item-131"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-131">
                        <a href="admin/slot">Slot</a>
                      </li>

                      <li id="menu-item-113"
                        class="menu-item menu-item-type-post_type menu-item-object-page megamenu megamenu-style-alt menu-item-has-children menu-item-113">
                        <a href="admin/userappointment">User Appointments</a>
                      </li>

                      <li id="menu-item-113"
                        class="menu-item menu-item-type-post_type menu-item-object-page megamenu megamenu-style-alt menu-item-has-children menu-item-113">
                        <a href="admin/companyappointment">Company Appointments</a>
                      </li>

                      <li id="menu-item-121"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-121">
                        <a href="admin/user">Users</a>
                      </li>


                      <li id="menu-item-121"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-114">
                        <a href="admin/collector">Collector</a>
                      </li>

                      <li id="menu-item-121"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-114">
                        <a href="admin/company">Company</a>
                      </li>

                      <li id="menu-item-121"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-114">
                        <a *ngIf="isAdminLogIn" (click)="logout()" href="" routerLinkActive="router-link-active">
                          Logout</a>
                      </li>
                    </ul>
                  </div>

                </div>
                <!-- /.mobile-nav__content -->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<router-outlet></router-outlet>
