<div id="page" class="site page-wrapper">
  <a class="skip-link screen-reader-text" href="#primary">Skip to content</a>

  <!--Page Header Start-->
  <section class="page-header">
    <div class="page-header-bg">
    </div>
    <div class="container">
      <div class="page-header__inner">
        <h2> Request A Pickup </h2>
        <ul class="thm-breadcrumb list-unstyled ml-0">
          <!-- Breadcrumb NavXT 7.0.2 -->
          <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage"
                title="Go to Wostin." href="https://layerdrops.com/wostinwp" class="home"><span
                  property="name">OrganicBin</span></a>
              <meta property="position" content="1">
            </span></li>
          <li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span
                property="name" class="post post-page current-item">Request A Pickup</span>
              <meta property="url" content="https://layerdrops.com/wostinwp/request-a-pickup/">
              <meta property="position" content="2">
            </span></li>
        </ul>
      </div>
    </div>
  </section>
  <!--Page Header End-->
  <div data-elementor-type="wp-page" data-elementor-id="25" class="elementor elementor-25">
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-848f33a elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="848f33a" data-element_type="section">
      <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e106ea2"
          data-id="e106ea2" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-28b8a69 elementor-widget elementor-widget-wostin-pickup-form"
              data-id="28b8a69" data-element_type="widget" data-widget_type="wostin-pickup-form.default">
              <div class="elementor-widget-container">
                <!--Request A Pickup Top Start-->
                <section class="request-a-pickup-top">
                  <div class="container">
                    <div class="row">
                      <div class="col-xl-12">
                        <div class="request-a-pickup-top__inner">
                          <h2 class="request-a-pickup-top__title">Are you Interested in a Pickup?
                          </h2>
                          <p class="request-a-pickup-top__text">Get tips and info on how to manage waste effectively and
                            reduce environmental impact.<br>Need more info? <a href="tel:12463330088">Call +1- (246)
                              333-0088</a>to speak with a Wostin expert.

                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <!--Request A Pickup Top End-->

                <!--Request A Pickup Start-->
                <section class="request-a-pickup">
                  <div class="container">
                    <div class="request-a-pickup__tab-box tabs-box">
                      <div class="tabs-content">
                        <div class="tab " id="Bagster">

                          <div role="form" class="wpcf7" id="wpcf7-f749-p25-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response">
                              <p role="status" aria-live="polite" aria-atomic="true">
                              <ul></ul>
                            </div>
                            <form action="/wostinwp/request-a-pickup/#wpcf7-f749-p25-o1" method="post"
                              class="wpcf7-form init" novalidate="novalidate" data-status="init">
                              <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="749" />
                                <input type="hidden" name="_wpcf7_version" value="5.5.6" />
                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f749-p25-o1" />
                                <input type="hidden" name="_wpcf7_container_post" value="25" />
                                <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                              </div>

                              <div class="wpcf7-response-output" aria-hidden="true"></div>
                            </form>
                          </div>

                        </div>
                        <div class="tab active-tab" id="Container">

                          <div role="form" class="wpcf7" id="wpcf7-f763-p25-o2" lang="en-US" dir="ltr">
                            <div class="screen-reader-response">
                              <p role="status" aria-live="polite" aria-atomic="true">
                              <ul></ul>
                            </div>
                            <form [formGroup]="appointmentForm" (ngSubmit)="submit()" class="wpcf7-form init"
                              novalidate="novalidate" data-status="init">
                              <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="763" />
                                <input type="hidden" name="_wpcf7_version" value="5.5.6" />
                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f763-p25-o2" />
                                <input type="hidden" name="_wpcf7_container_post" value="25" />
                                <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                              </div>
                              <div class="request-a-pickup__tab-content">
                                <div class="request-a-pickup__tab-content-form-box">
                                  <div class="row">

                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                      <div class="contact-one__form-input-box">
                                        <select name="select-waste-type" formControlName="wasteType" class="demo">
                                          <option value="" selected disabled>Select waste type</option>
                                          <option value="segregate">Segregate</option>
                                          <option value="nonsegregate">Non segregate</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                      <div class="contact-one__form-input-box">
                                        <input class="demo" formControlName="date" placeholder="Pickup date" type="text"
                                          onfocus="(this.type = 'date')" id="date">
                                      </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                      <div class="request-a-pickup__tab-content-input-box">
                                        <span class="wpcf7-form-control-wrap your-company"><input type="text"
                                            formControlName="approxWeight" value="" size="40"
                                            class="wpcf7-form-control wpcf7-text" #val (change)="getData(val.value)"
                                            aria-invalid="false" placeholder="Approx weight" /></span>
                                      </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                      <div class="contact-one__form-input-box">
                                        <select name="select-waste-type" formControlName="slotId" class="demo">
                                          <option value="" selected disabled>Select slot</option>
                                          <option *ngFor="let d of listSlot" value="{{ d.id}}">{{d.timeFrame}}</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div style="color: red;">
                                      <p class="request-a-pickup__tab-content-text-box">Approx. money you will get
                                        ₹{{money}} <br> Segregate: ₹10/kg / Non segregate: ₹5/kg</p>
                                    </div>
                                    <div class="col-xl-6 mt-4">
                                      <div class="request-a-pickup__tab-content-btn-box">
                                        <button type="submit" class="thm-btn request-a-pickup__tab-content-btn">Book Now</button>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>

                            </form>
                          </div>

                        </div>
                        <div class="tab " id="Dumpster">

                          <div role="form" class="wpcf7" id="wpcf7-f762-p25-o3" lang="en-US" dir="ltr">
                            <div class="screen-reader-response">
                              <p role="status" aria-live="polite" aria-atomic="true">
                              <ul></ul>
                            </div>
                            <form action="/wostinwp/request-a-pickup/#wpcf7-f762-p25-o3" method="post"
                              class="wpcf7-form init" novalidate="novalidate" data-status="init">
                              <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="762" />
                                <input type="hidden" name="_wpcf7_version" value="5.5.6" />
                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f762-p25-o3" />
                                <input type="hidden" name="_wpcf7_container_post" value="25" />
                                <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                              </div>
                              <div class="request-a-pickup__tab-content">
                                <div class="request-a-pickup__tab-content-size-box">
                                  <ul class="list-unstyled ml-0 request-a-pickup__tab-content-size-list">
                                    <li>
                                      <span class="wpcf7-form-control-wrap checkbox-32_gallon"><span
                                          class="wpcf7-form-control wpcf7-checkbox" id="32_gallon_dump"><span
                                            class="wpcf7-list-item first last"><label><input type="checkbox"
                                                name="checkbox-32_gallon[]" value="32 Gallon" checked="checked" /><span
                                                class="wpcf7-list-item-label">32
                                                Gallon</span></label></span></span></span>
                                    </li>
                                    <li>
                                      <span class="wpcf7-form-control-wrap checkbox-64_gallon"><span
                                          class="wpcf7-form-control wpcf7-checkbox" id="64_gallon_dump"><span
                                            class="wpcf7-list-item first last"><label><input type="checkbox"
                                                name="checkbox-64_gallon[]" value="64 Gallon" /><span
                                                class="wpcf7-list-item-label">64
                                                Gallon</span></label></span></span></span>
                                    </li>
                                    <li>
                                      <span class="wpcf7-form-control-wrap checkbox-96_gallon"><span
                                          class="wpcf7-form-control wpcf7-checkbox" id="96_gallon_dump"><span
                                            class="wpcf7-list-item first last"><label><input type="checkbox"
                                                name="checkbox-96_gallon[]" value="96 Gallon" /><span
                                                class="wpcf7-list-item-label">96
                                                Gallon</span></label></span></span></span>
                                    </li>
                                  </ul>
                                </div>

                              </div>
                              <div class="wpcf7-response-output" aria-hidden="true"></div>
                            </form>
                          </div>

                        </div>


                      </div>
                    </div>
                  </div>
                </section>
                <!--Request A Pickup End-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
