<div id="page" class="site page-wrapper">
  <a class="skip-link screen-reader-text" href="#primary">Skip to content</a>

  <div data-elementor-type="wp-page" data-elementor-id="11" class="elementor elementor-11">
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-de25f38 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="de25f38" data-element_type="section">
      <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-56a4b12"
          data-id="56a4b12" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-3f07736 elementor-widget elementor-widget-wostin-contact-form"
              data-id="3f07736" data-element_type="widget" data-widget_type="wostin-contact-form.default">
              <div class="elementor-widget-container">
                <section class="contact-one" style="margin-top: 150px;">
                  <div class="container">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12">
                        <div class="contact-one__right">
                          <div role="form" class="wpcf7" id="wpcf7-f167-p11-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response">
                              <p role="status" aria-live="polite" aria-atomic="true">
                              <ul></ul>
                            </div>
                            <form class="wpcf7-form init" [formGroup]="collectorForm" (ngSubmit)="submit()"
                              novalidate="novalidate" data-status="init">
                              <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="167" />
                                <input type="hidden" name="_wpcf7_version" value="5.5.6" />
                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f167-p11-o1" />
                                <input type="hidden" name="_wpcf7_container_post" value="11" />
                                <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                              </div>
                              <div class="contact-one__form">
                                <div class="row">
                                  <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact-one__form-input-box">
                                      <input type="text" formControlName="firstName" value="" class="wpcf7-form-control"
                                        placeholder="First name" />
                                    </div>
                                  </div>

                                  <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact-one__form-input-box">
                                      <input type="text" name="lastname" value="" size="40" formControlName="lastName"
                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                        aria-required="true" aria-invalid="false" placeholder="Last name" />
                                    </div>
                                  </div>

                                  <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact-one__form-input-box">
                                      <input type="email" formControlName="email" value="" size="40"
                                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                        aria-required="true" aria-invalid="false" placeholder="Email address" />
                                    </div>
                                  </div>
                                  <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact-one__form-input-box">
                                      <input type="text" formControlName="contact" value="" size="40"
                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                        aria-required="true" aria-invalid="false" placeholder="Phone number" />
                                    </div>
                                  </div>

                                  <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact-one__form-input-box">
                                      <input type="password" name="your-email" formControlName="password" value=""
                                        size="40" class="demo" aria-required="true" aria-invalid="false"
                                        placeholder="Password" />
                                    </div>
                                  </div>

                                  <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact-one__form-input-box">
                                      <input type="password" name="confirmpassword" formControlName="confirmPassword"
                                        value="" size="40" class="demo" aria-required="true" aria-invalid="false"
                                        placeholder="Confirm password" />
                                    </div>
                                  </div>
                                  <div style="color: red;" *ngIf="passwordMatchError">
                                    Password does not match
                                  </div>
                                  <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact-one__form-input-box">
                                      <select formControlName="gender" name="select-waste-type" class="demo">
                                        <option value="" selected disabled>Select gender</option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                        <option value="T">Transgender</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact-one__form-input-box">
                                      <input class="demo" formControlName="dateOfBirth" placeholder="Date of birth"
                                        type="text" onfocus="(this.type = 'date')" id="date">
                                    </div>
                                  </div>

                                  <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact-one__form-input-box">
                                      <input type="text" formControlName="location" value="" size="40"
                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                        aria-required="true" aria-invalid="false" placeholder="Address" />
                                    </div>
                                  </div>
                                  <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact-one__form-input-box">
                                      <input type="number" name="lastname" value="" size="40" class="demo"
                                        formControlName="pincode" aria-required="true" aria-invalid="false"
                                        placeholder="Pincode" />
                                    </div>
                                  </div>
                                  <!-- <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact-one__form-input-box">
                                      <select formControlName="stateId" class="demo" #mySelect
                                        (change)="getCity(mySelect.value)">
                                        <option value="" selected disabled>Choose state</option>
                                        <option *ngFor="let d of listState" value="{{ d.stateId }}">{{d.name}}
                                        </option>
                                      </select>
                                    </div>
                                  </div> -->
                                  <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact-one__form-input-box">
                                      <select class="demo" aria-invalid="false" formControlName="cityId">
                                        <option value="" selected disabled>Select city</option>
                                        <option *ngFor="let d of listCity" value="{{ d.id}}">{{d.name}}</option>

                                      </select>
                                    </div>
                                  </div>

                                </div>
                                <div class="row">
                                  <div class="col-xl-6">
                                    <!-- <div class="contact-one__form-input-box text-message-box">
                                      <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message"
                                          cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea"
                                          aria-invalid="false" placeholder="Write message"></textarea></span>
                                    </div> -->
                                    <div class="contact-one__btn-box">
                                      <button type="submit" class="thm-btn contact-one__btn">Register</button>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
